@require 'nib'
@require 'melon/css/mixin.styl'
@require 'melon/css/theme/default'

global-reset()

body
    font-size: 16px
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft YaHei', Arial, '宋体', SimSun, sans-serif

#app
    padding: 20px 32px

h3
    font-size: 24px

.melon-row
    margin-top: 20px

melon-generate-grid()

@require '../src/**'
